@font-face {
  font-family: 'pundit-icon-font';
  src:  url('fonts/pundit-icon-font.eot?mn4uh5');
  src:  url('fonts/pundit-icon-font.eot?mn4uh5#iefix') format('embedded-opentype'),
    url('fonts/pundit-icon-font.ttf?mn4uh5') format('truetype'),
    url('fonts/pundit-icon-font.woff?mn4uh5') format('woff'),
    url('fonts/pundit-icon-font.svg?mn4uh5#pundit-icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="pundit-icon-"], [class*=" pundit-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'pundit-icon-font' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pundit-icon-angle-right:before {
  content: "\e90d";
}
.pundit-icon-angle-up:before {
  content: "\e90c";
}
.pundit-icon-angle-down:before {
  content: "\e900";
}
.pundit-icon-book:before {
  content: "\e901";
}
.pundit-icon-compress:before {
  content: "\e902";
}
.pundit-icon-drag:before {
  content: "\e903";
}
.pundit-icon-ellipsis-h:before {
  content: "\e904";
}
.pundit-icon-ellipsis-v:before {
  content: "\e905";
}
.pundit-icon-filter:before {
  content: "\e906";
}
.pundit-icon-lock:before {
  content: "\e907";
}
.pundit-icon-pundit:before {
  content: "\e908";
}
.pundit-icon-signout:before {
  content: "\e909";
}
.pundit-icon-times:before {
  content: "\e90a";
}
.pundit-icon-users:before {
  content: "\e90b";
}
